/* -------------------------------------
//      Base
//      ie. h's, p, a, etc.
//		And more modular content styles and utilities, ie. center
// -----------------------------------*/

html {
    -webkit-font-smoothing: antialiased; //maxvoltar.com/archive/-webkit-font-smoothing
    overflow-y: scroll; // force scrollbar to avoid jumping content
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-animation: bugfix infinite 1s; // For toggle nav
}

@-webkit-keyframes bugfix {
    from {padding:0;} to {padding:0;} // For toggle nav
}


p {
    @extend %ore-m--leader;
    @extend %ore-m--trailer;
}

a {
    color: $color-accent;
    &:focus,
    &:hover {
        color: darken($color-accent, 20%);
    }
}

/* Headings
---------------------------------------- */

h1, .h1 {
    @include adjust-font-size-to( $h1-font-size );
    @include leader(1, $h1-font-size);
    @include trailer(1, $h1-font-size);
}
h2, .h2 {
    @include adjust-font-size-to( $h2-font-size );
    @include leader(1, $h2-font-size);
    @include trailer(1, $h2-font-size);
}
h3, .h3 {
    @include adjust-font-size-to( $h3-font-size );
    @include leader(1, $h3-font-size);
    @include trailer(1, $h3-font-size);
}
h4, .h4 {
    @include adjust-font-size-to( $h4-font-size );
    @include leader(1, $h4-font-size);
    @include trailer(1, $h4-font-size);
}
h5, .h5 {
    @include adjust-font-size-to( $h5-font-size );
    @include leader(1, $h5-font-size);
    @include trailer(1, $h5-font-size);
}
h6, .h6 {
    @include adjust-font-size-to( $h6-font-size );
    @include leader(1, $h6-font-size);
    @include trailer(1, $h6-font-size);
}