/* Settings
 	#Font sizing, devmode, rhytm, font size and more
	#Susy and more RWD stuff
	#Colors
---------------------------------------- */

/* #Font sizing, vertical rhytm
---------------------------------------- */

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

$h1-size-small: 2.2 * $base-font-size;
$h1-size: 3.3 * $base-font-size;

$h2-size-small: 1.467 * $base-font-size;
$h2-size: 2.2  * $base-font-size;

$h3-size-small: 1.25 * $base-font-size;
$h3-size: 1.467 * $base-font-size;

$h4-size: 1    * $base-font-size;
$h5-size: 0.667 * $base-font-size;
$h6-size: 0.444 * $base-font-size;

/* #Colors
---------------------------------------- */
$color-main: green;
$color-accent: brown;


/* #Susy setup
---------------------------------------- */
// Show/Hide - For showing the susy and rhytm background
$s-grid-bg: hide;
@if $debug {
	$s-grid-bg: show !global;
}

// ----- Main Breakpoints ----- //
// ----- 	WARNING!
// 			Don't change var names
// 						-- //
$l-break-medium: 768;
$l-break-large: 1024px;
$l-break-xlarge: 1360px;

// ----- Breakpoint dependant container padding (used in Ore) ----- //
$l-padding-xsmall: 0.5em;
$l-padding-small: 1em;
$l-padding-medium: 1.5em;
$l-padding-large: 2em;
$l-padding-xlarge: 0;

// Map of breakpoints, used to create placeholders in ore.
// Add any breakpoints using the same syntax.
$breakpoints: (
	medium : ( $l-break-medium ($l-break-large - 1), $l-padding-medium ),
	large : ( $l-break-large ($l-break-xlarge - 1), $l-padding-large ),
	xlarge : ( $l-break-xlarge, $l-padding-xlarge )
);

// ----- Container vars ----- //
$s-boxsizing: border-box;
$s-columns: 12;
$s-container-width: auto;
$s-grid-type: fluid;
$s-gutter-ratio: 1/4;
$s-gutter-position: inside;

// ----- Vars for xlarge container ----- //
$s-column-width-xlarge: ($l-break-xlarge / $s-columns); // -20px ?
$s-container-width-xlarge: auto; // Adjust using column width instead. Refer to Susy docs
$s-grid-type-xlarge: static;

// ----- Standard container ----- //
$s-container: (
	columns: $s-columns,
	gutters: $s-gutter-ratio,
	gutter-position: $s-gutter-position,
	container: $s-container-width,
	math: $s-grid-type,
	debug: (
    	image: $s-grid-bg,
    ),
	global-box-sizing: $s-boxsizing,
);

// Centered fixed width container for xlarge.
$s-container-xlarge: (
	columns: $s-columns,
	column-width: $s-column-width-xlarge,
	gutters: $s-gutter-ratio,
	gutter-position: $s-gutter-position,
	math: $s-grid-type-xlarge,
	debug: (
    	image: $s-grid-bg,
    ),
    global-box-sizing: $s-boxsizing,
);